/**
 * @group Variables.
 */
:root {
    --main-color: #333;
    --accent-color: red;
}

/**
 * @group Typography.
 *
 * Put @font-face declarations here.
 */
@font-face {
    font-family: calluna-sans;
    src: url("../fonts/calluna-sans/calluna-sans.woff") format("woff2"),
         url("../fonts/calluna-sans/calluna-sans.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

body {
    background: #3a3636;
    color: var(--main-color);
    font-family: calluna-sans;
}

a {
    color: inherit;
}

.icon.calendar {
    width: 1em;
}

#Masthead {
    padding: 20px 35px;
    background: #fff;
}
#Masthead h1 {
    float: left;
    margin: 0 50px 0 0;
}
#Masthead h1 img {
    width: 300px;
}
#Masthead h1 img:hover {
    filter: hue-rotate(360deg);
    transition: filter 2s;
}

#MainNavigation {
    text-transform: uppercase;
}
#MainNavigation li {
    padding: 0 .75em;
    display: inline-block;
}
#MainNavigation a {
    border-bottom: 1px solid transparent;
    padding-bottom: .25em;
    line-height: 66px;
    color: #A8A8A8;
    text-decoration: none;
    transition: color .5s, border-bottom-color .5s;
}
#MainNavigation a:hover {
    border-bottom-color: #9A6E51;
    color: #333;
    transition: color .5s, border-bottom-color .5s;
}
#MainNavigation li.current a {
    color: #333;
}

#ContentWrapper {
    background: fixed no-repeat url("/static/images/playboy.jpg") center/cover;
}
#MainContent {
    clear: both;
}
#MainContent,
#MainFooter {
    margin: 0 auto;
    padding: 3em;
    max-width: 970px;
    background: rgba(216, 215, 215, 0.8);
}
#MainFooter {
    background: rgba(200, 200, 200, .7);
    text-align: center;
}
#MainFooter .p-tel {
    display: block;
}
#MainFooter .u-photo,
#MainFooter .u-email {
    display: none;
}

#press-list li {
    overflow: auto;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px;
}
#press-list li p:first-of-type {
    font-style: italic;
}
#press-list img {
    float: left;
    width: 197px;
    margin: 0 30px 30px 0;
}

/**
 * @group Microformats and structured data.
 */
.h-event .p-location .u-photo,
.h-event .event-status {
    display: none;
}

/**
 * @group Mobile styles.
 *
 * Put small-screen styles here.
 */
@media screen and (max-width: 500px) {
}
