/**
 * @group Variables.
 */
:root {
    --main-color: #333;
    --accent-color: #EEE;
}

/**
 * @group Typography.
 *
 * Put @font-face declarations here.
 */
@font-face {
    font-family: calluna-sans;
    src: url("../fonts/calluna-sans/calluna-sans.woff") format("woff2"),
         url("../fonts/calluna-sans/calluna-sans.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}

#OpeningHours li {
    overflow: auto;
    max-width: 20em;
}
#OpeningHours span {
    float: left;
}
#OpeningHours span + span {
    float: right;
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

body {
    background: #3a3636;
    color: var(--main-color);
    font-family: calluna-sans;
}

a {
    color: inherit;
    transition: color .25s;
}
a:hover {
    color: var(--accent-color);
}

.icon.calendar {
    width: 1em;
}

#Masthead {
    padding: 20px 35px;
    background: #fff;
}
#Masthead h1 {
    float: left;
    margin: 0 50px 0 0;
}
#Masthead h1 img {
    width: 300px;
}
#Masthead h1 img:hover {
    filter: hue-rotate(360deg);
    transition: filter 2s;
}

#MainNavigation {
    text-transform: uppercase;
}
#MainNavigation li {
    padding: 0 .75em;
    display: inline-block;
}
#MainNavigation a {
    border-bottom: 1px solid transparent;
    padding-bottom: .25em;
    line-height: 66px;
    color: #A8A8A8;
    text-decoration: none;
    transition: color .5s, border-bottom-color .5s;
}
#MainNavigation a:hover {
    border-bottom-color: #9A6E51;
    color: #333;
    transition: color .5s, border-bottom-color .5s;
}
#MainNavigation li.current a {
    color: #333;
}

#ContentWrapper {
    background: fixed no-repeat url("/static/images/playboy.jpg") center/cover;
}
#MainContent {
    clear: both;
}
#MainContent,
#MainFooter {
    margin: 0 auto;
    padding: 3em;
    max-width: 970px;
    background: rgba(216, 215, 215, 0.8);
}
#MainFooter {
    background: rgba(200, 200, 200, .7);
    text-align: center;
}
#MainFooter .p-tel {
    display: block;
}
#MainFooter .u-photo,
#MainFooter .u-email {
    display: none;
}

#press-list li {
    overflow: auto;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px;
}
#press-list li p:first-of-type {
    font-style: italic;
}
#press-list img {
    float: left;
    width: 197px;
    margin: 0 30px 30px 0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0;
    align-items: center;
    justify-content: center;
}
#gallery figure {
    margin: 2em;
    text-align: center;
    color: var(--accent-color);
}
#gallery img {
    max-width: calc(100vw - 2em);
    max-height: 400px;
}
#gallery figcaption {
    opacity: 0;
    transition: opacity .25s;
}
#gallery figure:hover figcaption {
    opacity: 1;
}

/**
 * @group Microformats and structured data.
 */
.h-event {
    margin-bottom: 4em;
}
.h-event .p-location .u-photo,
.h-event .event-status {
    display: none;
}
.h-event header > a {
    display: block;
    text-align: center;
}
.h-event img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 2em;
    box-shadow: 0 0 50px black;
}
.h-event img[src$="placeholder.jpg"] {
    border-radius: 0;
    box-shadow: none;
}

[id^="menu-category-"] h1 {
    border-bottom: 1px dotted var(--accent-color);
}
[id^="menu-category-"] > ul {
    column-count: 2;
}
[id^="menu-category-"] > ul > li {
    overflow: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 2em;
    
}
[id^="menu-category-"] > ul > li:nth-child(even) {
    background-color: rgba(150, 150, 150, .5);
}
[id^="menu-category-"] > ul > li:nth-child(odd) {
    background-color: rgba(200, 200, 200, .5);
}
[id^="menu-category-"] [itemtype="https://schema.org/Offer"] {
    float: right;
}

/**
 * @group Mobile styles.
 *
 * Put small-screen styles here.
 */
@media screen and (max-width: 500px) {
    #Masthead h1 {
        float: none;
        margin-right: 0;
    }
    #MainNavigation::before {
        content: "\2630";
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        font-size: 36px;
        line-height: 1em;
        cursor: pointer;
    }
    #MainNavigation ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }
    #MainNavigation:hover ul {
        max-height: 75vh;
        transition: max-height 1s;
    }
    #MainNavigation li {
        display: list-item;
        padding: 0 .5em;
        text-align: center;
    }
    #MainNavigation a {
        line-height: 3em;
    }
    #press-list img {
        width: 100%;
    }
    #gallery {
        display: block;
        text-align: center;
    }
    #gallery figure {
        margin: 2em 0;
    }
    [id^="menu-category-"] > ul {
        column-count: 1;
    }
}
